@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

details summary {
  list-style: none; /* Убирает системную стрелку */
  appearance: none; /* Убирает стили платформы */
  -webkit-appearance: none; /* Для Safari */
}

details summary::-webkit-details-marker {
  display: none; /* Убирает дефолтную стрелку в Safari */
}



.fonts-mono {
  font-family: "Roboto Mono", serif;
  font-weight: normal;
  font-style: normal;
}

.fonts-mono500 {
  font-family: "Roboto Mono", serif;
  font-weight: 500;
  font-style: normal;
}

.bbbb{
  text-align: center;
}